:root {
    --bg-std: #f4f4f4;
    --bg-sec: #f0e5c9;
    --bg-emphasis: #a68c69;
    --font-std: #594433;
    --font-emphasis: #9ba657
}

html, body {
    all: initial;
    color: var(--font-std);
    background-color: var(--bg-std);
}

header {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    padding: 3vh;
    overflow: hidden;
    background-color: var(--bg-sec);
    align-items: center;
}

header ul {
    display: flex;
}
header ul li {
    list-style-type: none;
    padding-right: 15px;
}
header a {
    color: var(--font-std);
    text-decoration: none;
}
.logo {
    font-family: 'Gloria Hallelujah', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--font-emphasis);
}


main {
    margin: 1em 3em 0 3em;
}
.input-form {
    display: flex;
    margin: 5px 0;
    width: 100%;
}
.input-form input{
    height: 2em;
}
.input-form input,
.input-form textarea {
    width: 100%;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid var(--bg-sec);
}
.listagem {
    width: 100%;
    margin: 15px 30px;
    display: flex;
    justify-content: center;
}
.tabela {
    border-collapse: collapse;
    width: 100%;
}
.tb-linha {
    height: 2em;
    display: flex;
    width: 100%;
}

.tb-center {
    text-align: center;
    vertical-align: center;
}
td, tr {
    border:none;
}
tr:nth-child(even) {
    background-color: var(--bg-sec);
}

.data {
    width: 3.5em;
    padding: 0 10px;
}

.nova-tarefa {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 35px;
    right: 30px;
    background-color: var(--bg-std);
}

.btn {
    display: flex;
    background-color: var(--font-emphasis);
    border: 1px solid var(--font-emphasis);
    height: 2em;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.btn-novo {
    cursor: pointer;
}

.btn-fechar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: var(--font-emphasis);
    background-color: var(--bg-std);
    border: 2px solid var(--font-emphasis);
}

.div-fechar {
    position: fixed;
    top: 10px;
    right: 10px;
    transform: translateX(40%);
    text-align: center;
    align-items: center;
}

.div-novo {
    display: flex;
    margin-right: 3em;
    align-items: end;
    justify-content: end;
    margin-top: 5px;
}